language: c
dist: trusty
sudo: required
env:
 - AGDATA=`pwd`/data PGPORT=61958

before_script:
 - ./configure --prefix="$(pwd)"
 - make install > /dev/null
 - export PATH="$(pwd)"/bin:$PATH
 - initdb
 - ag_ctl start -w

script: make installcheck
